
# Swift Package Manager
# Xcode
# macOS
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.moved-aside
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
.DS_Store
.build/
.swiftpm/
DerivedData/
Package.resolved
build/
